<!doctype html>
<html lang="en">
    <%- include('./layouts/head.ejs') %>
    <body>
        <!-- Header -->
        <%- include('./layouts/nav.ejs') %>

        <!-- Posts section -->
        <div class="posts-container">
            <h3 class="title">Posts</h3>
            <% if (posts.length > 0) { %>
                <% posts.forEach(post => { %>
                    <div class="post-card">
                        <div class="post-header">
                            <span>Title: <%= post.title %></span>
                            <span>&#183;</span>
                            <span>
                                Posted by:
                                <!-- Only show author of posts to club members and in posts beloning to user -->
                                <% if (user && (user.isMember || post.author.id === user._id.toString())) { %> 
                                    <%= post.author.username %>
                                <% } else { %>
                                    Anonymous
                                <% } %>  
                            </span>
                            <span>&#183;</span>
                            <span><%= formatPostDate(post.createdAt) %></span>
                        </div>
                        <p><%= post.body %></p>
                    </div>
              <%  }) %>
            <% } else { %>
                <div class="post-card empty">
                    <div class="block-img" >
                        <img src="http://localhost:3000/assets/images/empty.png" alt="chimp" width="90" height="90">
                    </div>
                    <h1> No posts to display....</h1>
                    <h3> Be the first to submit a new post!</h3>
                </div>
            <% } %> 
        </div>

        <!-- Footer -->
        <%- include('./layouts/footer.ejs') %> 
    </body>
</html>